.row
  header.top-header
    //- マークダウンでレジュメを書こう
    h1.intro-text.text-center {{ msg }}
  .hello
    h2 おったまげー！
    ul
      li: a(href="https://vuejs.org" target="_blank") Core Docs
      li: a(href="https://forum.vuejs.org" target="_blank") Forum
      li: a(href="https://gitter.im/vuejs/vue" target="_blank") Gitter Chat
      li: a(href="https://twitter.com/vuejs" target="_blank") Twitter
    h2
    clock
